.dropdown{
    display: flex;
    align-items: center;
    color: var(--gray-200);
}
.dropdown-component{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: transparent;
    border: 1px solid var(--gray-200);
    border-radius: .5rem;
    color: var(--white);
    cursor: pointer;
    margin-left: 10px;
}
.selected-options-wrapper{
    display: flex;
    justify-content: space-between;
    width: 70px;
    padding: 8px 5px 8px 15px;
    align-items: center;
    font-size: 14px;
}

.dropdown-options{
    position: absolute;
    bottom: -10px;
    left: 0px;
    transform: translateY(88%);
    border: 1px solid var(--gray-200);
    width: 100%;
    border-radius: 8px 8px 8px 8px;
    font-size: 12px;

    /* max-height: 60px; */
}
.dropdown-option{
    background: var(--gray);
    padding: 2px 2px 2px 25px;
}

@media screen and (max-width: 1377px){
    .dropdown>span{
        font-size: 12px;
    }
    .selected-options-wrapper{
        width: 60px;
        font-size: 10px;
        padding: 3px 1px 3px 10px;
    }
}