.addImg{
    display: flex;
    align-items: center;
}
.addImg>img{
    margin-left: 10px;
}
.addRow>button{
    background-color: var(--gray-100);
    color: var(--gray-200);
    border: none;
    border-radius: 8px;
    height: 26px;
    width: 350px;
}
.search{
    display: flex;
    align-items: center;
    position: relative;
    width: 200px;
    margin-left: 10px;
}
.searchInput{
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 8px;
    height: 26px;
    width: 100%;
    color: var(--white);
    padding-left: 10px;
}
.search>img{
    position: absolute;
    align-items: center;
    right: 10px;
}
#files{
    display: none;
}
.uploadfile{
    display: flex;
    align-items: center;
    position: relative;
    width: 160px;
    margin-left: 25px;
    /* background-color: red; */

}
.uploadfile>label{
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 8px;
    color: var(--white);
    height: 28px;
    width: 100%;
}
.uploadfile>img{
    position: absolute;
    left: 12px;
}
.pad-15{
    margin-top: 20px;
}