.btn{
    font-family: 'Montserrat', sans-serif;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 300ms ease;
}

.btn:hover {
    transform: translateY(-3px);
}

/* Buttons Coloms and Styles */

.btn--solid {
    background: var(--solid);
    color: var(--white);
    font-weight: bold;
    font-size: 1rem;
    border: none;
}
.btn--outline{
    background: transparent;
    color: var(--white);
    font-weight: 400;
    font-size: 1rem;
    border: 1px solid var(--gray-200);
}
.btn--icon-outline{
    background: transparent;
    color: var(--gray-200);
    font-weight: 400;
    font-size: 1rem;
    border: 1px solid var(--gray-200);
    /* height: 32px;
    width: 96px; */
}

/* Button Size */

.btn--icon-size{
    padding: 8px 12px 8px 32px;
}
.btn--size{
    padding: 10px 28px;
}
@media screen and (max-width: 1401px){
    .btn--icon-outline{
        font-size: .8rem;
    }
}