:root{
  --black-100: rgba(20, 20, 22, 1);
  --black-200: rgba(0, 0, 0, 1);
  --gray: rgba(35, 35, 40, 1);
  --gray-100: rgba(55, 55, 65, 1);
  --text-200: rgba(255, 255, 255, 1);
  --solid: rgba(198, 71, 71, 1);
  --white: rgba(255, 255, 255, 1);
  --gray-200: rgba(161, 161, 162, 1);
  --gray-300: rgba(75, 75, 90, 1);
}
.App{
  background: var(--black-100);
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
}
.head{
  align-items: center;
  flex: 0 0 100%;
  max-width: 100%;
  max-height: 8vh;
  /* background: red; */
}
.main-container{
  display: grid;
  flex: 0 0 100%;
  max-width: 100%;
  max-height: 92%;
  overflow: hidden;
  grid-template-columns: 16rem auto 32rem;
  /* background: blue; */
}

@media screen and (max-width: 1500px) {
  .main-container{
    grid-template-columns: 18% 48% auto;
    overflow-y: scroll;
  }
}
@media screen and (max-width: 1477px){
  .main-container{
    grid-template-columns: 16% 48% auto;
  }
}
@media screen and (max-width: 1377px){
  .main-container{
    grid-template-columns: 16% 46% auto;
  }
}
@media screen and (max-width: 1360px){
  .main-container{
    grid-template-columns: 16% 45% auto;
  }
}
@media screen and (max-width: 1300px){
  .main-container{
    grid-template-columns: 15% 46% auto;
  }
}
@media screen and (max-width: 1000px){
  .main-container{
    grid-template-columns: 1fr;
  }
}
